/infra/k8s/*-secret.yaml
# /infra/k8s/auth-mongo-secret.yaml
archive/
secrets/
**/secrets/
/node_modules/

# local scratch
.local/

# terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/crash.*.log
**/*.tfvars
**/*.tfvars.json
