apiVersion: apps/v1
kind: Deployment
metadata:
  name: recipe-depl
spec:
  template:
    spec:
      containers:
        - name: log-shipper
          image: busybox:1.36
          command:
            - sh
            - -c
            - tail -n+1 -F /var/log/app.log
          volumeMounts:
            - name: app-logs
              mountPath: /var/log
      volumes:
        - name: app-logs
          emptyDir: {}
