global:
  imageTag: "prod"

ingress:
  host: recipe.prod
  paths:
    - path: /api/auth/?(.*)
      pathType: ImplementationSpecific
      serviceName: auth-service
      servicePort: 3000
    - path: /api/1/recipes/?(.*)
      pathType: ImplementationSpecific
      serviceName: recipe-service
      servicePort: 3000
    - path: /?(.*)
      pathType: ImplementationSpecific
      serviceName: recipe-client-service
      servicePort: 3000
