namespace: recipe

global:
  imageTag: "dev"

imagePullSecrets: []

services:
  deployments:
    - name: recipe-client
      appLabel: recipe-client
      deploymentName: recipe-client-depl
      containerName: recipe-client
      replicas: 1
      containerPort: 3000
      image:
        repository: gabeodame/recipe-client
        pullPolicy: IfNotPresent
      env:
        - name: NEXT_PUBLIC_API_URL
          valueFrom:
            secretKeyRef:
              name: recipe-secret
              key: NEXT_PUBLIC_API_URL
      service:
        name: recipe-client-service
        port: 3000
        targetPort: 3000
        type: ClusterIP
        portName: client

    - name: auth-service
      appLabel: auth-service
      deploymentName: auth-depl
      containerName: auth-service
      replicas: 1
      containerPort: 3000
      image:
        repository: gabeodame/auth-service
        pullPolicy: IfNotPresent
      initContainers:
        - name: init-db
          image: busybox:1.34
          command:
            - sh
            - "-c"
            - |
              echo "Waiting for MongoDB to be ready..."
              until nc -z auth-mongo-headless 27017; do
                echo "MongoDB not ready, retrying in 1s..."
                sleep 1
              done
              echo "MongoDB is ready!"
      env:
        - name: MONGO_URI
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: MONGO_URI
        - name: RABBITMQ_URL
          valueFrom:
            secretKeyRef:
              name: rabbitmq-secret
              key: RABBITMQ_URL
        - name: JWT_KEY
          valueFrom:
            secretKeyRef:
              name: jwt-secret
              key: JWT_KEY
      service:
        name: auth-service
        port: 3000
        targetPort: 3000
        type: ClusterIP

    - name: recipe
      appLabel: recipe
      deploymentName: recipe-depl
      containerName: recipe
      replicas: 1
      containerPort: 3000
      image:
        repository: gabeodame/recipe-backend
        pullPolicy: IfNotPresent
      initContainers:
        - name: wait-for-rabbitmq
          image: busybox
          command:
            - sh
            - "-c"
            - "until nc -z rabbitmq-service 5672; do echo waiting for rabbitmq; sleep 2; done;"
      env:
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: recipe-postgres-secret
              key: DATABASE_URL
        - name: RABBITMQ_URL
          valueFrom:
            secretKeyRef:
              name: rabbitmq-secret
              key: RABBITMQ_URL
        - name: JWT_KEY
          valueFrom:
            secretKeyRef:
              name: jwt-secret
              key: JWT_KEY
      service:
        name: recipe-service
        port: 3000
        targetPort: 3000
        type: ClusterIP
        portName: recipe

    - name: ingredient
      appLabel: ingredient
      deploymentName: ingredient-depl
      containerName: ingredient
      replicas: 1
      containerPort: 3000
      image:
        repository: gabeodame/ingredient-backend
        pullPolicy: IfNotPresent
      initContainers:
        - name: wait-for-rabbitmq
          image: busybox
          command:
            - sh
            - "-c"
            - "until nc -z rabbitmq-service 5672; do echo waiting for rabbitmq; sleep 2; done;"
      env:
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: ingredient-postgres-secret
              key: DB_HOST
        - name: POSTGRES_DB
          valueFrom:
            secretKeyRef:
              name: ingredient-postgres-secret
              key: POSTGRES_DB
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: ingredient-postgres-secret
              key: POSTGRES_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: ingredient-postgres-secret
              key: POSTGRES_PASSWORD
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: ingredient-postgres-secret
              key: DATABASE_URL
        - name: NODE_ENV
          valueFrom:
            secretKeyRef:
              name: ingredient-postgres-secret
              key: NODE_ENV
        - name: DB_SYNCHRONIZE
          valueFrom:
            secretKeyRef:
              name: ingredient-postgres-secret
              key: DB_SYNCHRONIZE
        - name: RABBITMQ_URL
          valueFrom:
            secretKeyRef:
              name: rabbitmq-secret
              key: RABBITMQ_URL
        - name: JWT_KEY
          valueFrom:
            secretKeyRef:
              name: jwt-secret
              key: JWT_KEY
      service:
        name: ingredient-service
        port: 3000
        targetPort: 3000
        type: ClusterIP
        portName: http

    - name: userprofile
      appLabel: userprofile
      deploymentName: userprofile-depl
      containerName: userprofile
      replicas: 1
      containerPort: 3000
      image:
        repository: gabeodame/userprofile-backend
        pullPolicy: IfNotPresent
      initContainers:
        - name: wait-for-rabbitmq
          image: busybox
          command:
            - sh
            - "-c"
            - "until nc -z rabbitmq-service 5672; do echo waiting for rabbitmq; sleep 2; done;"
      env:
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: userprofile-postgres-secret
              key: DB_HOST
        - name: POSTGRES_DB
          valueFrom:
            secretKeyRef:
              name: userprofile-postgres-secret
              key: POSTGRES_DB
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: userprofile-postgres-secret
              key: POSTGRES_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: userprofile-postgres-secret
              key: POSTGRES_PASSWORD
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: userprofile-postgres-secret
              key: DATABASE_URL
        - name: NODE_ENV
          value: "production"
        - name: RABBITMQ_URL
          valueFrom:
            secretKeyRef:
              name: rabbitmq-secret
              key: RABBITMQ_URL
        - name: AWS_REGION
          valueFrom:
            secretKeyRef:
              name: s3-secret
              key: AWS_REGION
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: s3-secret
              key: AWS_ACCESS_KEY_ID
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: s3-secret
              key: AWS_SECRET_ACCESS_KEY
        - name: AWS_S3_BUCKET
          valueFrom:
            secretKeyRef:
              name: s3-secret
              key: AWS_S3_BUCKET
      service:
        name: userprofile-service
        port: 3000
        targetPort: 3000
        type: ClusterIP
        portName: http

    - name: uploads-service
      appLabel: uploads-service
      deploymentName: uploads-service-depl
      containerName: uploads-service
      replicas: 1
      containerPort: 3000
      image:
        repository: gabeodame/uploads-backend
        pullPolicy: IfNotPresent
      env:
        - name: NODE_ENV
          value: "production"
        - name: AWS_REGION
          valueFrom:
            secretKeyRef:
              name: s3-secret
              key: AWS_REGION
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: s3-secret
              key: AWS_ACCESS_KEY_ID
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: s3-secret
              key: AWS_SECRET_ACCESS_KEY
        - name: AWS_S3_BUCKET
          valueFrom:
            secretKeyRef:
              name: s3-secret
              key: AWS_S3_BUCKET
      service:
        name: uploads-service
        port: 3000
        targetPort: 3000
        type: ClusterIP
        portName: http

  statefulsets:
    - name: rabbitmq
      appLabel: rabbitmq
      serviceName: rabbitmq
      replicas: 1
      containerName: rabbitmq
      image:
        repository: rabbitmq
        tag: "3.11-management"
      ports:
        - containerPort: 5672
        - containerPort: 15672
      env:
        - name: RABBITMQ_DEFAULT_USER
          valueFrom:
            secretKeyRef:
              name: rabbitmq-secret
              key: rabbitmq-username
        - name: RABBITMQ_DEFAULT_PASS
          valueFrom:
            secretKeyRef:
              name: rabbitmq-secret
              key: rabbitmq-password
      volumeMounts:
        - name: rabbitmq-data
          mountPath: /var/lib/rabbitmq
      resources:
        requests:
          memory: "512Mi"
          cpu: "250m"
        limits:
          memory: "1Gi"
          cpu: "500m"
      volumeClaimTemplates:
        - metadata:
            name: rabbitmq-data
          spec:
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 1Gi
      service:
        name: rabbitmq-service
        ports:
          - name: amqp
            port: 5672
            targetPort: 5672
          - name: management
            port: 15672
            targetPort: 15672

    - name: auth-mongo
      appLabel: auth-mongo
      serviceName: auth-mongo-headless
      replicas: 1
      containerName: auth-mongo
      image:
        repository: mongo
        tag: "7.0"
      ports:
        - containerPort: 27017
      env:
        - name: MONGO_INITDB_ROOT_USERNAME
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: MONGO_INITDB_ROOT_USERNAME
        - name: MONGO_INITDB_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: MONGO_INITDB_ROOT_PASSWORD
      volumeMounts:
        - name: mongo-storage
          mountPath: /data/db
      resources:
        requests:
          memory: "512Mi"
          cpu: "250m"
        limits:
          memory: "1Gi"
          cpu: "500m"
      volumeClaimTemplates:
        - metadata:
            name: mongo-storage
          spec:
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 1Gi
      service:
        name: auth-mongo-headless
        clusterIP: None
        ports:
          - name: mongo
            port: 27017
            targetPort: 27017

    - name: recipe-postgres
      appLabel: recipe-postgres
      serviceName: recipe-postgres-headless
      replicas: 1
      containerName: postgres
      image:
        repository: postgres
        tag: "15"
      ports:
        - containerPort: 5432
      env:
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: recipe-postgres-secret
              key: POSTGRES_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: recipe-postgres-secret
              key: POSTGRES_PASSWORD
        - name: POSTGRES_DB
          valueFrom:
            secretKeyRef:
              name: recipe-postgres-secret
              key: POSTGRES_DB
        - name: PGDATA
          value: "/var/lib/postgresql/data/pgdata"
      volumeMounts:
        - name: postgres-storage
          mountPath: /var/lib/postgresql/data
      resources:
        requests:
          memory: "512Mi"
          cpu: "250m"
        limits:
          memory: "1Gi"
          cpu: "500m"
      volumeClaimTemplates:
        - metadata:
            name: postgres-storage
          spec:
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 1Gi
      service:
        name: recipe-postgres-headless
        clusterIP: None
        ports:
          - name: postgres
            port: 5432
            targetPort: 5432

    - name: ingredient-postgres
      appLabel: ingredient-postgres
      serviceName: ingredient-postgres-headless
      replicas: 1
      containerName: postgres
      image:
        repository: postgres
        tag: "15"
      ports:
        - containerPort: 5432
      env:
        - name: POSTGRES_DB
          valueFrom:
            secretKeyRef:
              name: ingredient-postgres-secret
              key: POSTGRES_DB
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: ingredient-postgres-secret
              key: POSTGRES_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: ingredient-postgres-secret
              key: POSTGRES_PASSWORD
        - name: NODE_ENV
          valueFrom:
            secretKeyRef:
              name: ingredient-postgres-secret
              key: NODE_ENV
        - name: DB_SYNCHRONIZE
          valueFrom:
            secretKeyRef:
              name: ingredient-postgres-secret
              key: DB_SYNCHRONIZE
        - name: PGDATA
          value: "/var/lib/postgresql/data/pgdata"
      volumeMounts:
        - name: ingredient-postgres-storage
          mountPath: /var/lib/postgresql/data
      volumeClaimTemplates:
        - metadata:
            name: ingredient-postgres-storage
          spec:
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 1Gi
      service:
        name: ingredient-postgres-headless
        clusterIP: None
        ports:
          - name: postgres
            port: 5432
            targetPort: 5432

    - name: userprofile-postgres
      appLabel: userprofile-postgres
      serviceName: userprofile-postgres-headless
      replicas: 1
      containerName: postgres
      image:
        repository: postgres
        tag: "15"
      ports:
        - containerPort: 5432
      env:
        - name: POSTGRES_DB
          valueFrom:
            secretKeyRef:
              name: userprofile-postgres-secret
              key: POSTGRES_DB
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: userprofile-postgres-secret
              key: POSTGRES_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: userprofile-postgres-secret
              key: POSTGRES_PASSWORD
        - name: PGDATA
          value: "/var/lib/postgresql/data/pgdata"
      volumeMounts:
        - name: postgres-storage
          mountPath: /var/lib/postgresql/data
      volumeClaimTemplates:
        - metadata:
            name: postgres-storage
          spec:
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 1Gi
      service:
        name: userprofile-postgres-headless
        clusterIP: None
        ports:
          - name: postgres
            port: 5432
            targetPort: 5432

networkPolicies:
  - name: allow-client-to-auth
    spec:
      podSelector:
        matchLabels:
          app: auth-service
      policyTypes:
        - Ingress
      ingress:
        - from:
            - podSelector:
                matchLabels:
                  app: recipe-client
          ports:
            - protocol: TCP
              port: 3000
  - name: allow-client-to-backend
    spec:
      podSelector:
        matchLabels:
          app: recipe
      policyTypes:
        - Ingress
      ingress:
        - from:
            - podSelector:
                matchLabels:
                  app: recipe-client
          ports:
            - protocol: TCP
              port: 3000
  - name: allow-ingress-to-auth
    spec:
      podSelector:
        matchLabels:
          app: auth-service
      policyTypes:
        - Ingress
      ingress:
        - from:
            - podSelector:
                matchLabels:
                  app: ingress-nginx
            - namespaceSelector:
                matchLabels:
                  kubernetes.io/metadata.name: envoy-gateway
          ports:
            - protocol: TCP
              port: 3000
  - name: allow-userprofile-to-postgres
    spec:
      podSelector:
        matchLabels:
          app: userprofile-postgres
      policyTypes:
        - Ingress
      ingress:
        - from:
            - podSelector:
                matchLabels:
                  app: userprofile
          ports:
            - protocol: TCP
              port: 5432

migrations:
  enabled: true
  jobs:
    - name: recipe-migrate
      appLabel: recipe-migrate
      image:
        repository: gabeodame/recipe-backend
        pullPolicy: IfNotPresent
      initContainers:
        - name: wait-for-recipe-postgres
          image: busybox:1.36
          command:
            - sh
            - -c
            - |
              echo "Waiting for recipe-postgres-headless.recipe.svc.cluster.local:5432...";
              until nc -z recipe-postgres-headless.recipe.svc.cluster.local 5432; do
                sleep 2;
              done;
              echo "Postgres is ready.";
      command:
        - sh
        - -c
        - npx prisma migrate deploy --config=prisma.config.ts
      env:
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: recipe-postgres-secret
              key: DATABASE_URL

ingress:
  enabled: false
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
  host: recipe.dev
  paths:
    - path: /api/users/?(.*)
      pathType: ImplementationSpecific
      serviceName: auth-service
      servicePort: 3000
    - path: /api/1/recipes/?(.*)
      pathType: ImplementationSpecific
      serviceName: recipe-service
      servicePort: 3000
    - path: /api/1/profile/?(.*)
      pathType: ImplementationSpecific
      serviceName: userprofile-service
      servicePort: 3000
    - path: /api/1/ingredient/?(.*)
      pathType: ImplementationSpecific
      serviceName: ingredient-service
      servicePort: 3000
    - path: /api/1/uploads/?(.*)
      pathType: ImplementationSpecific
      serviceName: uploads-service
      servicePort: 3000
    - path: /?(.*)
      pathType: ImplementationSpecific
      serviceName: recipe-client-service
      servicePort: 3000

gateway:
  enabled: true
  className: envoy-gateway
  name: food-app-gateway
  listener:
    name: http
    protocol: HTTP
    port: 80
    hostname: ""
  tls:
    enabled: false
    secretName: ""
  hostnames:
    - recipe.dev
  routes:
    - path: /api/users
      backend:
        name: auth-service
        port: 3000
    - path: /api/auth
      backend:
        name: auth-service
        port: 3000
    - path: /api/1/recipes
      backend:
        name: recipe-service
        port: 3000
    - path: /api/1/profile
      backend:
        name: userprofile-service
        port: 3000
    - path: /api/1/ingredient
      backend:
        name: ingredient-service
        port: 3000
    - path: /api/1/uploads
      backend:
        name: uploads-service
        port: 3000
    - path: /
      backend:
        name: recipe-client-service
        port: 3000
